.message{
	color: red;
}

.title 
{
  	padding: 5px; 
  	text-align: center;
  	color: white;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 5px 20px 15px 20px;
}


input[type=text] 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

label {
  display: block;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #fff;
}  

.form-control{
  background-color: #fff;
  height: 50px;
  color: #191a1e;
  border: none;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 40px;
  padding: 0px 25px;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

body {
  background: url(images/airline1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  padding: 8px;
}

h3 {
  color:white;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.submit-btn {
color: #fff;
background-color: #f23e3e;
font-weight: 400;
height: 50px;
font-size: 14px;
border: none;
width: 100%;
border-radius: 40px;
text-transform: uppercase;
-webkit-transition: 0.2s all;
transition: 0.2s all;
}

.submit-btn:hover,
.submit-btn:focus {
opacity: 0.9;
}

.pay-form {
border: none;
background: rgba(0, 0, 0, 0.7);
border-radius: 6px;
font-family: Arial, Helvetica, sans-serif;
display: inline-block;
width: auto;
height: auto;
margin: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

